body {
  background-color: #191919;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#UsernameInput {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 20px auto;
  display: block;
}
.MessageBox {
  display: flex;
  flex-direction: column;   /* stack messages vertically */
  justify-content: flex-start; /* align to top */
  align-items: stretch;     /* make children stretch full width */
  border-radius: 10px;
  height: 700px;
  width: 300px;
  background-color: #282828;
  margin: 20px auto;
  padding: 10px;
  overflow-y: auto;         /* scroll when content overflows */
}

#MessageDiv {
  outline: 2px solid white;
}
.SenderDiv {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  border-radius: 10px;
  outline: 2px solid white;
}
#Messages {
  display: flex;
  flex-direction: column;
}
.Name {
  font-weight: bold;
  display: inline;
  color: #4CAF50;
}
.Message {
  color: skyblue;
}
.message {
  display: flex;
  flex-direction: row;
  gap: 5px; 
}
#SenderDiv {
  display: flex;
  flex-direction: column;   /* stack messages vertically */
  justify-content: flex-start; /* align to top */
  align-items: stretch;     /* make children stretch full width */
  border-radius: 10px;
  background-color: #282828;
  width: 300px;
  height: 100px;
  margin: 20px auto;
  padding: 10px;
  overflow-y: auto;         /* scroll when content overflows */
}
#MessageInput {
  height: 100px;
  border-radius: 5px;
  border: none;
}